@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Regular.ttf');
}

@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	word-wrap: break-word;
}

body, .flex-container--column, .flex-container--row {
	display: -webkit-flex;
	display: flex;
}

body, .flex-container--column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-container--row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-container--wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-container--left-bottom {
	justify-content: flex-start;
	align-items: baseline;
}

.flex-container--left-center {
	justify-content: flex-start;
	align-items: center;
}

.flex-container--center-center {
	justify-content: center;
	align-items: center;
}

.flex-container--space-between-bottom {
	justify-content: space-between;
	align-items: baseline;
}

.flex-container--space-between-center {
	justify-content: space-between;
	align-items: center;
}

.hidden {
	display: none;
}

/* TEXT */

body, button, input, textarea, label, select, option, #channel-publish-in-progress > p, #channel-publish-done > p {
	font-family: 'Lekton', monospace;
	font-size: large;
}

h3, p {

	font-size: x-large;
}


.text--large {
	font-size: 2rem;
}

.pull-quote {
	font-size: 3rem;
	margin-top: 1rem;
}

.fine-print {
	font-size: small;
}

#show-body > .fine-print {
	text-align: center;
}

.blue {
	color: #4156C5;
}

.blue--underlined {
	color: #4156C5;
	text-decoration: underline;
}

/* TOOL TIPS */
/* Tooltip container */
.tooltip {
	position: relative;
}
/* Tooltip text */
.tooltip > .tooltip-text {
	visibility: hidden;
	width: 15em;
	background-color: #9b9b9b;
	color: #fff;
	text-align: center;
	padding: 0.5em;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -8em; /* Use half of the width (120/2 = 60), to center the tooltip */
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover > .tooltip-text {
	visibility: visible;
}
/* arrow at bottom of tooltip text */
.tooltip > .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #9b9b9b transparent transparent transparent;
}

/* LINKS */

a, a:visited {
	text-decoration: none;
}

.link--primary, .link--primary:visited {
	color: #4156C5;
}

.link--secondary, .link--secondary:visited {
	font-size: medium;
	margin: 0px;
	padding: 0.3em;
	color: #9b9b9b;
}

.link--nav {
	color: black;
	border-bottom: 2px solid white;
}

.link--nav:hover {
	color: #4156C5;
}

.link--nav-active {
	color: #4156C5;
	border-bottom: 2px solid #4156C5;
}

/* COLUMNS AND ROWS */

.row {
	clear: both;
	margin: 0px;
}

.row--padded {
	padding: 3rem;
}

.row--margined {
	margin: 3rem;
}

.row--wide {
	padding-right: 0px;
	padding-left: 0px;
}

.row--short {
	padding-top: 0px;
	padding-bottom: 0px;
}

.row--tall {
	flex: 1 0 auto;
}

.row--no-top {
	padding-top: 0px;
}

.row--no-bottom {
	padding-bottom: 0px;
}

.row--no-right {
	padding-right: 0px;
}

.column {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.column--1 {
	width: 10%;
}

.column--2 {
	width: 20%;
}

.column--3 {
	width: 30%;
}

.column--4 {
	width: 40%;
}

.column--5 {
	width: 50%;
}

.column--6 {
	width: 60%;
}

.column--7 {
	width: 70%;
}

.column--8 {
	width: 80%;
}

.column--9 {
	width: 90%;
}

.column--10 {
	width: 100%;
}

/* ALIGNMENT */
.align-content-left {
	text-align: left;
}

.align-content-center {
	text-align: center;
}

.align-content-right {
	text-align: right;
}

.align-content-top {
	vertical-align: top;
}

.align-content-bottom {
	vertical-align: bottom;
}


/* ERROR MESSAGES */

.info-message, .info-message--success, .info-message--failure {

	font-size: medium;
	margin: 0px;
	padding: 0.3em;
	color: #9b9b9b;
}

.info-message--success {
	color: green;
}

.info-message--failure {
	color: red;
}

/* INPUT FIELDS */

/* blocks */
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.label, .input-text, .select, .textarea, .text--large {
	margin: 0px;
	padding: 0.3em;
	outline: none;
	border: 0px;
	background-color: white;
	display: inline-block;
}

.input-disabled {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0px;
	color: black;
	background-color: white;
}

option {
	font-family: monospace;
}


.input-checkbox {
	border: 1px solid black;
	background: white;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-radio, .label--pointer {
	cursor: pointer;
}

.span--relative {
	position: relative;
}

.span--absolute {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/* modifiers */
.select--arrow {
	-moz-appearance:none;
	-webkit-appearance: none;
	background: url('../icon/Shape.svg') no-repeat right;
	cursor: pointer;
	padding-right: 1.5em;
}

.input-text--primary, .select--primary {
	border-bottom: 1px solid #9b9b9b;
}

.input-text--primary:focus, .select--primary:focus {
	border-bottom: 1px solid #9b9b9b;
}

.textarea--primary {
	border-bottom: 1px solid #9b9b9b;
}

.textarea--primary:focus {
	border-bottom: 1px solid #9b9b9b;
}

.input-text--full-width, .textarea--full-width {
	width: calc(100% - 0.6em);
}

.input-disabled--full-width {
	width: calc(100% - 1em - 2px);
}

.url-text--primary, .url-text--secondary {
	margin:0px;
	padding:0px;
}

.url-text--primary {
	color: black;
}

.url-text--secondary {
	color: #9b9b9b;
}

/* BUTTONS */

button {
	cursor: pointer;
}

.button--primary, .button--primary:focus {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.5em 0.3em 0.5em 0.3em;
	color: black;
	background-color: white;
	outline: 0px;
}

.button--primary:hover {
	border: 1px solid #4156C5;
	color: white;
	background-color: #4156C5;
}

.button--primary:active{
	border: 1px solid #ffffff;
	color: #d0d0d0;
	background-color: #ffffff;
}

.button--secondary, .button--secondary:focus {
	border: 0px;
	border-bottom: 1px solid black;
	padding: 0.5em;
	margin: 0.5em 0.3em 0.5em 0.3em;
	color: black;
	background-color: white;
	outline: 0px;
}

.button--secondary:hover {
	border-bottom: 1px solid #9b9b9b;
	color: #4156C5;
}

.button--secondary:active {
	color: #ffffff;;
}

.button--large{
	margin: 0px;
	width: calc(100% - 2px);
	padding: 2rem;
	font-size: x-large;
}

.button--cancel{
	border: 0px;
	background-color: white;
	color: #9b9b9b;
}

.button--wide {
	width: 100%;
}

/* TABLES */

table {
	width: 100%;
	text-align: left;
}

/* NAV BAR */

.nav-bar {
	border-bottom: 0.5px solid #cacaca;
}

.nav-bar--left {
	align-self: center;
}

.nav-bar-tagline {
	font-size: small;
}

.nav-bar-link {
	padding: 1.5rem;
	display: inline-block;
}

.nav-bar-logo {
	cursor: pointer;
}

/* PUBLISH FORM */

.dropzone {
	border: 2px dashed #9b9b9b;
	text-align: center;
	position: relative;
}

.dropzone:hover, .dropzone--drag-over {
	border: 2px dashed #4156C5;
	cursor: pointer;
}

#dropzone-text-holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#dropzone-dragover, #dropzone-instructions {
	padding: 1em;
}

#dropzone-preview {
	display: block;
	width: 100%;
}

.dim {
	opacity: 0.2;
}

/* Assets */

.asset-holder {
	clear  : both;
	display: inline-block;
	width  : 31%;
	padding: 0px;
	margin : 1%;
}

.asset-preview {
	width  : 100%;
	padding: 0px;
	margin : 0px
}

/* show */

.video {
	cursor: pointer;
	background-color: #ffffff;
	width: calc(100% - 12px - 12px - 2px);
	margin: 6px;
	padding: 6px;
	border: 1px solid #d0d0d0;
}

/* show lite */
.show-lite-container {
	text-align: center;
}

.show-lite-container #asset-display-component {
	max-height: calc(100vh - 3em);
}

.show-details-container #asset-display-component .asset {
	width: 100%
}

.show-lite-container #asset-display-component .asset {
	max-height: calc(100vh - 3em);
	max-width: 100vw;
}

#asset-boilerplate {
	max-height: 3em;
}


/* item lists */

.content-list-item-asset {
	width: 90%;
}

/* progress bar */

.progress-bar--inactive {
	color: lightgrey;
}

.progress-bar--active {
	color: #4156C5;
}

/* other */

.wrap-words {
	word-wrap: break-word;
}

#new-release-banner {
	font-size: small;
	background-color: #4156C5;
	color: white;
	text-align: center;
}

.slider {
	width: 100%
}
